{% extends "admin/change_form.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'content/admin/weekly_research_preview.css' %}">
{% endblock %}

{% block after_field_sets %}
  {{ block.super }}
  {% if original.formatted_json %}
    {% include "admin/content/weeklyresearch/_preview.html" with data=original.formatted_json %}
  {% endif %}
{% endblock %}

{% block admin_change_form_document_ready %}
  {{ block.super }}
  <script src="{% static 'content/admin/weekly_research_preview.js' %}"></script>
{% endblock %}
